<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github but worse...</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body_account_settings">
    <header>
        <div class="header_account_settings">
            <h1 class="h1_account_settings">Github but worse... <br> account settings</h1>
            <div>
                <button onclick="window.location.href='/mainPage'">Main Page</button>
                <button onclick="window.location.href='/account_settings'">Account Settings</button>
                <button onclick="window.location.href='/logout'">Logout</button>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="settings-container">
            <button onclick="change_password()">Change Password</button>
            <button>Change Username</button>
        </div>

        <div class="settings-container">
            <button>SHIT</button>
        </div>
    </div>

    <script>
        function change_password() {
            window.location.href=`/change_password`;
        }
    </script>
</body>
</html>