<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>change_password</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <label for="old_password" style="font-weight: bold;">Old Password:</label><br>
            <input type="password" id="old_password" required>
        </div>
        <br>
        <div>
            <label for="new_password" style="font-weight: bold;">New Password:</label><br>
            <input type="password" id="new_password" required>
        </div>
        <br>
        <div>
            <label for="confirm_new_password" style="font-weight: bold;">Confirm New Password:</label><br>
            <input type="password" id="confirm_new_password" required>
        </div>

        <div>
            <button onclick="change_password()">Submit</button>
        </div>
    </div>

    <script>
        function change_password() {
            const old_password = document.getElementById('old_password').value.trim();
        }
    </script>
</body>
</html>