
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github but not as good... for now</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
    </style>
</head>
<body>
    <h1>MAIN PAGE</h1>
    <div>
        <input type="text" id="repository_name" required>
        <button onclick="createRepository()">Create repository</button>
    </div>

    <script>
        function createRepository(){
            const repository_name = document.getElementById('repository_name').value.trim();

        if (repository_name === '') {
            errorMessage.textContent = 'Username and password are mandatory!';
            errorMessage.style.display = 'block';
            return;
        }
    }

        errorMessage.style.display = 'none';
    </script>
</body>
</html>