
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github but not as good... for now</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        div{
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>MAIN PAGE</h1>

    <div id="error-message" style="color: red; display: none;"></div>

    <div>
        <input type="text" id="repository_name" required>
        <button onclick="createRepository()">Create repository</button>
    </div>

    <div>
        <button onclick="window.location.href='/logout'">logout</button>
    </div> 

    <script>
        function createRepository(){
            const repository_name = document.getElementById('repository_name').value.trim();
            const errorMessage = document.getElementById('error-message');

        if (repository_name === '') {
            errorMessage.textContent = 'Name is mandatory!';
            errorMessage.style.display = 'block';
            return;
        }
        errorMessage.style.display = 'none';

        $.ajax({
            url: '/create_repository',
            type: 'POST',
            data: {
                repository_name: repository_name
            },
            dataType: 'json',
            success: function(response){
                if (response.success) {
                    alert('Repository created!')
                }else {
                    errorMessage.textContent = response.error;
                    errorMessage.style.display = 'block';
                }
            },
            error: function(xhr, status, error) {
                console.error('error details: ', xhr.responseText);
                errorMessage.textContent = 'Something went wrong. Try again.';
                errorMessage.style.display = 'block';
            }
        })
    }

        
    </script>
</body>
</html>